= form_for @image, html: {multipart: true} do |f|
  - if @image.errors.any?
    #error_explanation
      %h2= "#{pluralize(@image.errors.count, "error")} prohibited this image from being saved:"
      %ul
        - @image.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = image_tag(@image.image.small.url) if @image.image?
    = f.label :image
    = f.file_field :image
    / to make uploads work across form redisplays - may not work with heroku
    = f.hidden_field :image_cache
  .field
    = f.label :project_id
    = f.collection_select :project_id, Project.all, :id, :title
  .actions
    = f.submit 'Save'
